# ---- Results & outputs ----
results/
*_optuna.txt
*.png

# ---- Hydra runtime outputs ----
outputs/
multirun/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# ---- Virtual envs ----
.venv/
venv/
env/

# ---- Wandb ----
wandb/
